.list li{
  font-weight: bold;
  display: inline-block;
  padding: 2rem 2rem;
}

.mt-27{
  margin-top: 27px;
}

.li-border{
  margin: auto;
  border-bottom: 1px solid #ab0d0d;
  border-width: 3px;
  width: 60px;
}
