$primary: #910C25;
$secondary: #1B396C;
$gray-1: #333333;
$gray-2: #ABABAB;
$dark-blue: #1B396C;

$primary-bg: white;

.color-primary { color: $primary !important; }
.color-secondary { color: $secondary !important; }
.color-gray-1 { color: $gray-1 !important; }
.color-gray-2 { color: $gray-2 !important; }
.color-dark-blue { color: $dark-blue !important; }
.color-black { color: black !important; }
