.contact-form {
  padding: 5rem;
}

.flex-column {
  flex-direction: column;
}

input, textarea {
  width: 100%;
}

.align-center {
  align-items: center;
}

.card-max-width {
  max-width: 485px;
}

.button-width{
  width: 151px;
}

.mt-54{
  margin-top: 54px;
}

.fs-35{
  font-size: 35px;
}

.mt-20{
  margin-top: 20px;
}

.flex-4{
  flex: 4;
}

.flex-6{
  flex: 6;
}

.padding{
  padding: 0 50px;
}

.mb-45{
  margin-bottom: 45px;
}

.p-70{
  padding: 70px;
}

.mb-25{
  margin-bottom: 25px;
}

.border{
  border: 1px solid #C4C4C4;
  border-radius: 8px;
}
